
/* main ones */
.areanode {
	border: 0px solid black;
	border-width: 0px 1px 1px 1px;
	visibility: visible;
	display: block;
	cursor : help;
	z-index: 0;
	float: left;
}

.areablock {
	float: left;
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: grey;
	z-index:0;
	padding-left:2px;
}
.blockname {
	padding-left:5px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	font-weight : bold;
}
.clear {
	clear:both;
}


