


/*   Form styles names
fb              main form table
fb_label        td containing field label
fb_field        td containing field input tag
fb_submit       td containing submit button(s)

fb_input        input types
fb_select       select types
fb_checkbox     checkbox types
fb_radio        radio types
fb_option       labels for checkbox/radio options
fb_button       button types
fb_hidden       hidden types
fb_static       static types
fb_required     span around labels for required fields
fb_invalid      span around labels for invalid fields
fb_comment      span around field comment
fb_error        span around field error message
*/

.fb {
	color : #ffa20f;
	background: #999999;
	font-family : Verdana, Sans;
	font-size : 8px;
	font-style : normal;
	font-weight : bold;
}
.fb_field {
	font-family : Verdana, Sans;
	font-size : 8px;
	font-style : normal;
	font-weight : bold;
	text-decoration:none;
	width:90%;
}
.fb_radio, .fb_input {
	color : #000000;
 	background: #fee3ad;
	font-family : Verdana, Sans;
	font-size : 8px;
	font-style : normal;
	font-weight : bold;
	text-decoration:none;
	margin-left:0px;
	margin-right:0px;
}
.fb_select {
	background: #fee3ad;
	border: 1px solid #781351;
	color : #000000;
	font-family : Verdana, Sans;
	font-size : 9px;
	font-style : normal;
	font-weight : bold;
	text-decoration:none;
	margin-left:5px;
	margin-right:15px;
 }
.fb_textarea {
	background: #fee3ad;
	width: 250px;
	height: 50px;
	color : #000000;
	font-family : Verdana, Sans;
	font-size : 8px;
	font-style : normal;
	font-weight : bold;
	text-decoration:none;
	margin-left:0px;
	margin-right:15px;
 }
.fb_checkbox {
	margin-left:5px;
	padding: 3px;
}
.fb_button {
	height: 30px;
	color : #ffa20f;
	background: #000000;
	outline: none;
	font-family: Verdana, Sans, Arial, Helvetica, sans-serif;
	font-size: 8px;
	border:0px;
	font-weight : bold;
	margin-left:10px;
}
.fb_button:hover, .fb_button:active {
	color : #000000;
	background: #ffa20f;
	font-family: Verdana, Sans, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight : bold;
}
.fb_required {
        font-family: Verdana, Sans, Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight : bold;
	color: #ffffff;
        line-height: 2em;
}
			
.fb_option {
	color : #ffffff;
	font-family : Verdana, Sans;
	font-size : 10px;
	font-style : normal;
	margin-right:2em;
}

#_savethis {
	position:relative;
	padding-top:9px;
	padding-left:3px;
	padding-right:3px;
	width:42px;
	height:19px;
	top:-1px;
	left:-10px;
}

/* main ones */
.node {
	border: 1px solid black;
	border-width: 0px 1px 1px 0px;
	visibility: visible;
	display: block;
	height: 6px;
	width: 6px;
	cursor : help;
	z-index: 10;
	float: left;
}

.blockname {
	vertical-align: top;
	text-align: top;
	margin: 0px;
	height: 24px;
	line-height: 9px; 
	padding-top:0px;
	padding: 3px 3px 0px 3px;
	border-style: none;
	border-color: #3d3d3d;
	z-index:10;
	color : #ffffff;
	font-family : Verdana, Sans;
	font-size : 8px;
	font-weight : bold;
	background-color: #000000;
}

.block {
	float: left;
	border-width: 0 1px 1px 0;
	border-style: solid;
	border-color: grey;
	z-index:5;
}

table {

}
tr {

}
/*td {
text-align: center;
border: 1px solid #ffffff;
}*/
.good {
	text-align: left;
	background: #444;
}
.bad {
	text-align: left;
	background: #000;
}

#headerdiv {
	position:absolute; 
	background-color: #ffa904;
	overflow:auto; 
	top: 0px; 
	left: 3px;
	visibility: visible;
	display:block;
	height: 57px;
	width: 98%;
	padding-left: 20px;
	padding-top: 5px;
	z-index: 1;
}
#formdiv {
	position:absolute; 
	background-color: #999999;
	overflow:auto; 
	top: 63px; 
	left: 3px;
	visibility: visible;
	display:block;
	width: 97%;
	/*height: 63px;*/
	padding-left: 17px;
	padding-right: 17px;
	padding-bottom: 4px;
	padding-top: 4px;
	z-index: 1;
}
#hideShow {
	position:absolute; 
	background-color: #000000;
	top: 160px; 
	left: 200px;
	visibility: hidden;
	display:block;
	width: 25%;
	padding-left: 17px;
	padding-right: 17px;
	padding-bottom: 4px;
	padding-top: 4px;
	z-index: 100;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: #ffa904;
}
#analisisdiv {
	position:absolute; 
	background-color: #000000;
	top: 167px; 
	left: 0px;
	visibility: visible;
	display:block;
	width: 95%;
	padding: 25px;
	z-index: 1;
}
#preview {
	position:absolute; 
	background-color: #3d3d3d;
	top: 182px; 
	visibility: visible;
	display:block;
	width: 180px;
	padding: 15px;
	z-index: 100;
}

#node_info, #savethis {
	position:absolute; 
        top: 185px;
        left: 30px;
	width: 70%;
	padding: 30px;
        border-width: 10px;
        border-color: #565656;
        border-style: solid;
	color: white;
        background-color: #2b2b2b;
        -moz-border-radius:100px 100px 100px 100px;
        visibility: hidden;
        z-index:300;
}	


#help {
	position:absolute;
	top: 150px;
	left: 180px;
	width: 225px;
	height: 225px;
	background-color:grey;
	padding:40px;
	z-index: 10;
}


#fons {
	position:absolute;
	top: 35px;
	left: 11px;
	z-index:0;
}
	
#arrow {
	position:absolute;
	top: 460px;
	left: 520px;
	z-index:10;
}

body { 
	background-color:#000000; 
}

p, li, td {
	color : #ffffff;
	font-family : Verdana, Sans;
	font-size : 10px;
	font-style : normal;
}
	
h2 {
	color : #ffffff;
	font-family : Verdana, Sans;
	font-size : 10px;
	font-style : normal;
}

h1 {
	color : #ffffff;
	font-family : Verdana, Sans;
	font-size : 12px;
	font-style : normal;
}

h3 {
	color : #ffffff;
	font-family : Verdana, Sans;
	font-size : 14px;
	font-style : normal;
}


#legend {
	position:absolute;
	top:130px;
	height: 46px;
	left:3px;
	overflow: auto;
	color: white;
	background-color: transparent;
	font-family : Verdana, Sans;
	font-color: white;
	font-size : 9px;
	font-style : normal;
	font-weight : bold;
	width: 99%;
	padding: 2px;
	padding-left: 3px;
	line-height: 15px;
	z-index:25;
}
a {
	color : orange;
	font-family : Verdana, Sans;
	font-size : 10px;
	font-style : normal;
	font-weight : bold;
	text-decoration:none;
}
	
a:hover, a:active {
	background-color : white;
	width:50px;
	height:50px;
	font-family : Verdana, Sans;
	font-size : 10px;
	font-style : normal;
	font-weight : bold;
	text-decoration:none;
}


.debug {
/*display: none;*/
	background-color: #ffffff;
	color: #000000;
	opacity: 50%;
	color: black;
	position: absolute;
	top: 20%;
	bottom: 20%;
	left: 900px;
	#right: 20%;
	overflow: auto;
	z-index: 1000;
	padding:15px;
	width:400px;
}

.panel {
 	margin: 2px;
 	width: 800px;
 	height: 600px;
 	position: absolute;
 	top: 180px;
 	background-color: black;
 	border-top: 1px solid white;
}


.clear {
	clear:both;
}


input[type=checkbox]+label {
	padding: 3px;
}

input[type=checkbox]+label+br {

}

input:checked,input:checked+label {
	color: black;
	background: white;
}

span.legend {
 white-space: nowrap; 
 line-height: 2em; 
 color: black;
 padding: 2px;
 border: none;
 font-weight : bold;
}

#formdiv p { display: none; }

.emphat {
	color: #ffa904;
	color: black;
}

