div#tabs{
	width:900px;
	margin:0px;
	float:left;
	font-size:11px;
	border:solid 0px #232343;
}	
/* DIV that holds each tab*/
div.my_tab{
	width:800px;
	margin:0px auto;
		
}
	
/* Title of each tab, used when user don't have Javascript'*/	
div.my_tab h5{
	color:#414141;
	border-bottom:solid 0px #cacaca;
		
}
	
/* Tab Bar, created via JS*/
div#tab-bar{
	padding:0px 0px 0px 10px;
	margin:0px;
	height:27px;
	background:transparent;
	border-bottom:solid 1px #414141;
	margin-bottom:10px;
	font:normal 12px "Trebuchet MS";
}
	
/* Single Tab */
div#tab-bar div.mt-tab{
	float:left;
	
	display:inline;
	position:relative;
	text-align:center;
	margin:0px;
	cursor:pointer;
	border-top:solid 1px #414141;
	border-left:solid 1px #414141;
	border-right:solid 1px #414141;
	border-bottom:solid 1px #414141;
	font:normal 13px "Trebuchet MS";
	
	height:10px;
	color:#414141;
	padding:10px 10px 5px 10px;		
}
	
/* Single Tab, when active */
div#tab-bar div.mt-tab-active{
	float:left;
	display:inline;
	text-align:center;
	margin:0px;
	cursor:pointer;
	border-top:solid 1px #414141;
	border-left:solid 1px #414141;
	border-right:solid 1px #414141;
	border-bottom:none;
	height:10px;
	color:Black;
	font-weight:bold;
	padding:10px 10px 5px 10px;	
		
}
